/* RESET */
/* Reset dei margini e padding degli elementi */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    /* border: 1px solid black; */
}

/* reset per massima larghezza delle immagini */
img {
    max-width: 100%;
}

/* COMMON  */
.header {
    background-color: white;

}

.logo {
    padding: 0 0 10px 15px;
    vertical-align: middle;
}

.header-span {
    font-size: 35px;
    font-weight: 600;
    margin-left: 10px;
    vertical-align: middle;
}

.container {
    width: 80%;
    margin: 0 auto;
    margin-bottom: -440px;
    margin-left: 10px;
}

/* imposto sfondo body */
.body {
    background-color: rgb(238, 235, 235);
}

.main-container {
    height: 800px;
    background-color: white;
    margin-top: 10px;
    margin: 5%
}

/* imposto sezione tabs task e section */
.tabs {
    border-top: none;
    border-bottom: 1px solid lightgray;
}

.add-task,
.add-section {
    display: inline-block;
    padding: 7px 7px 7px 7px;
    border-radius: 8px;
    margin-top: 23px;
    margin-bottom: 20px;
    margin-left: 12px;
    border-style: none;

}

.add-task {
    background-color: rgb(158, 205, 246);
    color: white;
    font-weight: 600;
    border-color: rgb(158, 205, 246);
}

.add-section {
    background-color: white;
    border: 1px solid lightgrey;
    color: rgb(168, 166, 166);
}

.span-listcross {
    display: inline;
    border-radius: 50%;
    border: 1px solid black;
    border-color: red;
    color: red;
    font-weight: 500;
    margin-right: 3px;
}

.span-listcheck {
    display: inline;
    border-radius: 50%;
    border: 1px solid black;
    border-color: rgb(131, 221, 131);
    color: lightgreen;
    font-weight: 500;
}

.list {
    display: block;
    height: 50px;
    margin-top: 30px;
    padding: 15px;
}

.list li {
    display: block;
    list-style-type: none;
    margin-bottom: 0px;
    margin-top: -40px;
    height: 60px
}

.list-title {
    display: inline-block;
    margin-bottom: 20px;
}

.labels,
.editorial,
.q1goal,
.recruiting,
.mobile,
.website,
.sales {
    display: inline-block;
    padding: 7px 9px 7px 9px;
    border-radius: 15px;
    margin-top: 23px;
    margin-bottom: 20px;
    margin-left: 7px;
    border-style: none;
    color: white;
    font-size: 10px;
    vertical-align: middle;
}

.editorial {
    background-color: lightblue;
}

.q1goal {
    background-color: rgb(165, 70, 165);
}

.recruiting {
    background-color: rgb(135, 214, 135);
}

.mobile {
    background-color: orange;
}

ul {
    margin-top: 20px;
}
